@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-primary: #fffded;
  --text-invert: rgba(14, 1, 50, 1);
}

body {
  min-height: 100vh;
  color: var(--text-primary);
  background: linear-gradient(
    156deg,
    rgba(14, 1, 50, 1) 0%,
    rgba(39, 41, 109, 1) 49%,
    rgba(103, 12, 212, 1) 91%,
    rgba(130, 0, 255, 1) 100%
  );
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  padding: 15px 25px;
  background-color: bisque;
  color: var(--text-invert);
  border-radius: 100px;
}
